<launch>

<node pkg="joy" type="joy_node" name="logitech_joy" >
  <param name="deadzone" value="0.1" />
  <param name="autorepeat_rate" value="30" />
</node>


<node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
  <rosparam command="load" file="$(find panda_robot)/config/logitech.yaml" />
</node>
  

</launch>

