<?xml version="1.0" ?>
<launch>
  <machine name="nuc" address="192.168.132.90" env-loader="/opt/ros/melodic/env.sh">
  </machine>
  <arg name="robot_ip" default="192.168.131.40"/>
  <arg name="load_gripper" default="true" />
  <arg name="launch_rviz" default="true" />
   
  <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>
  
 <!--include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" if="$(arg launch_rviz)" /-->
</launch>
